appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
bs4==0.0.1
click==6.6
decorator==4.0.10
Flask==0.11.1
get==0.0.11
gnureadline==6.3.3
gunicorn==19.6.0
ims==2.6
ipython==4.2.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
jsonify==0.5
lorem-ipsum-generator==0.3
MarkupSafe==0.23
pathlib2==2.1.0
pexpect==4.1.0
pickleshare==0.7.2
post==0.0.8
ptyprocess==0.5.1
public==0.0.34
query-string==0.0.8
request==0.0.8
requests==2.10.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
transliterate==1.8
Werkzeug==0.11.10
